@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}
 
.page-template-template_main {
  .graduates {
//    max-height: 120vh;
    overflow: hidden;
  }
  header {
    .wrap {
      &:after {
        content: "";
        background: url('../images/shape-39-copy.svg');
        width: 13px;
        height: 12px;
        position: absolute;
        top: 25px;
        left: -317px; 
      } 
      &:before {
        content: "";
        background: url('../images/shape-39-copy.svg');
        width: 13px;
        height: 12px;
        position: absolute;
       bottom: 30px;
        right: 217px;
      }
      .wrap-before {
        content: "";
       width: 857px;
        height: 0;
        border: 1px solid #f7f7f7;
        opacity: 0.5;
        position: absolute;
        top: 30px;
        left: -310px;
      }
      .wrap-after {
        content: "";
       width: 857px;
        height: 0;
        border: 1px solid #f7f7f7;
        opacity: 0.5;
        position: absolute;
        bottom: 35px;
        left: 916px;
      }
    }
    background: url('../images/bg1.png') no-repeat center;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
        display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    &:before {
      content: "";
      background: url('../images/group-62.png') no-repeat center;
      width: 1150px;
      height: 889px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    /*&:after {
      content: "";
      background: url('../images/aftr.png') no-repeat;
      width: 1860px;
      height: 331px;
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }*/
  }
}

.registration-btn {
  transition: 0.2s;
  background: url('../images/button-bg.png') no-repeat center;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  padding: 21px 28px 17px;
  text-align: center;
  border: 0;
  display: inline-block;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.header-title {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 14.4px;
}

.header-info {
  text-align: right;
  color: #3adebc;
  font-family: "Gotham Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 11px;
  margin-bottom: 146px;
  position: relative;
  z-index: 4;
}

.nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  display: none;
   &.light {
    .menu {
  list-style: none;
    padding: 0;
    margin: 0;
   
      li {
        &:before {
          background: #ffffff;
          opacity: 0.5;
        }
        a {
          color: #ffffff;
        }
      }
    }
  }
  .menu {
  list-style: none;
    padding: 0;
    margin: 0;
    
    li {
      padding-left: 63px;
      position: relative;
      min-height: 2px;
      margin-bottom: 30px;
      &:before {
        content: "";
        width: 10px;
        height: 2px;
        background: #000;
        opacity: 0.5;
        transition: 0.2s;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &.active {
        &:before {
          width: 40px;
        }
        a {
          display: block;
          opacity: 1;
        }
      }
      a {
        opacity: 0;
        color: #000;
        font-family: "Gotham Pro";
        font-size: 10px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 0 0 5px #969696;
      }
    }
}
}

.that {
  padding: 200px 0;
  .wrap {
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #000000;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    
  }
}

.that-title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 100px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.that-info {
  background-color: #000000;
  padding: 4px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}

.text-right {
  text-align: right;
}

.that-center {
  position: relative;
  text-align: right;
  &:before {
    content: "";
    background: url('../images/img465.png') no-repeat center;
    width: 526px;
    height: 489px;
    position: absolute;
    top: 38%;
    left: 13.5%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
  }
}

.that-item {
  position: relative;
  &:before {
    content: "What";
    width: 793px;
    height: 177px;
    opacity: 0.04;
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 250px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    top: 21px;
    right: -105px;
  }
  &:after {
    content: "";
    background: url('../images/shape-39-copy-5.svg') no-repeat center;
    width: 13px;
  height: 12px;
    position: absolute;
    top: -68px;
    right: 0;
  }
  h4 {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    /* Text style for "СОЛЬ —" */
    letter-spacing: 0.4px;
  }
  p {
    color: #989898;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    span {
      color: #ffffff;
      font-family: "Gotham Pro";
      font-size: 12px;
      font-weight: 400;
      line-height: 21px;
      background-color: #000000;
      padding: 3px;
      letter-spacing: 3.6px;
    }
  }
  a {
    color: #27e1f9;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition: 0.2s;
    padding-bottom: 5px;
    position: relative;
    &:before {
      content: "";
      height: 2px;
      width: 49px;
      background: #27e1f9;
      position: absolute;
      bottom: 0;
      left: 0;
    transition: 0.2s;
      
    }
    &:hover {
      &:before {
        width: 0;
      }  
    }
  }
}
.mb35 {
  margin-bottom: 35px;
}
.developments {
  background: url('../images/bg152.png') no-repeat center;
  padding: 200px 0;
  background-size: cover;
}

.scrollAnimation {
  position: relative;
  z-index: 555;
}

.logo-large {
  background: url('../images/logo-large.svg') no-repeat center;
  width: 457px;
  height: 421px;
  position: absolute;
    top: 26%;
    left: 51.5%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.logo-large-before {
  content: "";
  background: url('../images/shad.png') no-repeat center;
  width: 1090px;
  height: 814px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.-other-month- {
  opacity: 0;
}

.ml-auto {
  margin-left: auto;
}

.calendar-title {
  color: #ffffff;
font-family: "Gotham Pro";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  span {
    background-color: #000000;
    padding: 1px 4px;
  }
}

.section-carousel {
  .item {
    position: relative;
    .carousel-captcha {
      color: #ffffff;
      font-family: "Gotham Pro";
      font-size: 12px;
      font-weight: 400;
      line-height: 25px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      position: absolute;
      left: 40px;
      bottom: 70px;
      span {
        background-color: #000000;
        padding: 4px 3px;
        display: inline;
      }
    }
  }
  .owl-nav {
    float: right;
    width: 90px;
    .owl-next {
      position: relative;
      height: 14px;
      float: right;
      transition: 0.2s;
      &:hover {
        &:before {
          color: #000;
        }
      }
      &:before {
        content: "→";
        line-height: 1;
        font-size: 2.75rem;
      transition: 0.2s;
        
      }
    }
    .owl-prev {
      position: relative;
      height: 14px;
      float: left;
      transition: 0.2s;
      &:hover {
        &:before {
          color: #000;
        }
      }
      &:before {
        content: "←";
        font-size: 2.75rem;
        line-height: 1;
      transition: 0.2s;
        
      }
    }
  }
  .owl-dots {
    float: left;
    position: relative;
    z-index: 5;
    margin-top: -10px;
    .owl-dot {
      display: inline-block;
       margin: 0 10px;
      text-align: center;
      span {
         color: #000000;
          font-family: "Gotham Pro";
          font-size: 14px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0.28px;
        text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
      }
      &.active {
        span {
          font-size: 72px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 1.44px;
        }
      }
    }
  }
}

.products {
  padding:  0;
  background: url('../images/bg9849sdaf.png') repeat center;
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
  .row {
    margin: 0;
  }
  .col-lg-6 {
    padding: 0;
  }
}

.products-item {
  display: none;
  &.active {
    display: block;
  }
  img {
    height: 100%;
    width: inherit;
    margin-bottom: -4px;
  }
}

.col-lg-6.right {
  padding-left: 124px;
  position: relative;
  &:before {
    content: "";
    width: 82px;
    height: 14px;
    background-color: #e12f03;
    position: absolute;
    left: 50px;
    top: 187px;
  }
}

.item-content {
  >p {
    color: #989898;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 82px;
    display: none;
    max-width: 350px;
    min-height: 96px;
    &.active {
      display: block;
    }
  }
}

.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 450px;
  li {
    display: inline-block;
    margin:  0 15px;
    min-width: 102px;
    text-align: center; 
    margin-bottom: 40px;
    cursor: pointer;
    &:last-child {
      margin-left: 30px;
    }
    &:hover, &.active {
      .list-img {
        &:before {
          background: url('../images/shape-43-copyh.svg') no-repeat center;
        background-size: 100%;
          
        }
      }
      p {
        color: #e12f03;
      }
    }
    .list-img {
      position: relative;
      text-align: center;
      width: 49px;
      height: 46px;
      margin:  0 auto;
          line-height: 85px;
      transition: 0.2s;
      margin-bottom: 25px;
      &:before {
        content: "";
        background: url('../images/shape-43-copy.svg') no-repeat center;
         width: 67px;
        height: 62px;
        position: absolute;
        background-size: 100%;
        top: 50%;
        transition: 0.2s;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
    p {
      transition: 0.2s;
      color: #989898;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      display: block;
      letter-spacing: 0.32px;
      margin-bottom: 0;
    }
  }
}

.products-title {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  margin-bottom: 110px;
  margin-top: 0;
}

.blog {
  padding: 200px 0;
}

.blog-title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 100px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.blog-item {
  h5 {
      color: #000000;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0.32px;
  } 
  p {
    color: #989898;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}

.blog-link {
      color: #27e1f9;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition: .2s;
    padding-bottom: 5px;
    position: relative;
  &:hover {
    color: #27e1f9;
    &:after {
      width: 0;
    }
  }
  &:after {
    content: "";
    height: 2px;
    width: 100%;
    background: #27e1f9;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s;
}
}

.video-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/blog_play.png') no-repeat center;
  background-size: 100%;
  z-index: 55;
  cursor: pointer;
  &:hover {
    &:before {
        transition: 10s linear;
        transform: rotate(360deg);
    }
  }
  &:before {
    content: "";
    background: url('../images/blog_play_bg.png') no-repeat center;
    width: 60px;
    height: 60px;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
        border-radius: 50%;
    transition: 0.5s linear;
  }
}

.padding0 {
  padding: 0;
}

.padding-l30 {
  padding: 0 0 0 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.community {
      background: url(../images/bg152.png) repeat center;
    padding: 200px 0;
    background-size: cover;
}

.community-title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 100px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.community-subtitle {
  color: #ffffff;
font-family: "Gotham Pro";
font-size: 30px;
font-weight: 700;
line-height: 1;
  margin-left: auto;
  max-width: 290px;
  span {
    background-color: #000000;
    padding: 8px 4px;
        display: inline-block;
    margin-top: 8px;
  }
}

.community-item {
  margin-top: 30px;
  margin-bottom: 45px;
  h4 {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  p {
    color: #989898;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 0;
  }
}

.community-title_small {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.32px;
  margin:  0 0 25px;
}

.community-list {
  list-style: none;
  margin: 0 ;
  padding: 0;
  li {
    padding-left: 23px;
    color: #989898;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.32px;
    position: relative;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 30px;
    }
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #27e1f9;
      position: absolute;
      top: 6px;
      left: 0;
      border-radius: 50%;
      
    }
    span {
      color: #000000;
      background-color: #27e1f9;
      padding: 3px;
    }
  }
}

.ml {
  margin-left:  8%;
}

.scoreboard-img {
  background: url('../images/group-45.png') no-repeat center;
  text-align: center;
  min-height: 935px; 
       display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  div {
    background: url('../images/bgimg.png') no-repeat;
    background-position: 38% 36%;
    position: relative;
    width: 100%;
    &:before {
      content: "";
      position: absolute;
      width: 600px;
      height: 600px;
      top: 50%;
      left: 50%;
      margin-left: -300px;
      margin-top: -300px;
      background: url(../images/25846gf8d4.png) no-repeat 50% 50%;
      z-index: 1;
      animation: rotate_circle1 150s linear infinite;
    }
    &:after {
       content: "";
      position: absolute;
      width: 600px;
      height: 600px;
      top: 50%;
      left: 50%;
      margin-left: -300px;
      margin-top: -300px;
      background: url('../images/big_slide_circle2.png');
      z-index: 1;
      animation: rotate_circle2 25s linear infinite;
    }
  }
}

.scoreboard {
  max-width: 1920px; 
  margin: 0 auto;
  background: url('../images/bg219846.png') no-repeat center;
}

.section {
  line-height: 1;
}

.scoreboard-title {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  margin-bottom: 65px;
  margin-top: 0;
  span {
    color: #e12f03;
  }
}

.scoreboard-item {
  h4 {
    margin-top: 0;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    /* Text style for "Чтобы подс" */
    letter-spacing: 0.4px;
  }
  p {
    color: #989898;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "Мы встроил" */
    letter-spacing: 0.32px;
    margin-bottom: 0;
  }
  h5 {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 3.6px;
    line-height: 1;
    margin-top: 30px;
    span {
      display: inline-block;
      background-color: #ffffff;
      padding: 4px;
      margin-top: 4px;
    }
  }
}

.scoreboard-link {
  color: #e12f03;
  margin-top: 50px;
  cursor: pointer;
  display: inline-block;
  &:hover {
    color: #e12f03;
  }
  &:after {
    background: #e12f03;
  }
}

.store {
  padding: 97px 0 200px;
  .wrap {
    background: url('../images/shop.png') no-repeat left top;
  }
}

.store-title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
}

.store-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.store-item {
  display: inline-block;
  text-align: left;
  max-width: 200px;
  h6 {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    position: relative;
    padding-left: 22px;
    margin: 0 0 15px;
    &:before {
      content: "—";
      position: absolute;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.4px;
      top: 0px;
      left: 0;
    } 
  }
  p {
    padding-left: 22px;
    color: #989898;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.32px;
  }
}

.store-price {
  padding-left: 22px;
  text-align: left;
  max-width: 200px;
  margin: 0 auto;
  div {
    display: inline-block;
  }
  .count {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.32px;
  }
  .link {
    color: #27e1f9;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    position: relative;
    cursor: pointer;
    &.active {
      &:before {
        content: "-";
      }
    }
    &:before {
      content: "+";
     color: #27e1f9;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-45%) translateX(-50%);
    }
  }
}

.reg {
  .registration-btn {
    width: 100%;
  }
  label {
    text-align: left;
    display: block;
    width: 100%;
        color: #26ddf5;
    font-size: 0.625rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    input {
      display: block;
    width: 100%;
    height: 2rem;
    padding-bottom: 0.5rem;
    color: #ffffff;
    line-height: 1.5rem;
    font-family: 'Gotham Pro', Helvetica, Arial;
    font-size: 1rem;
    font-weight: normal;
    border: 0;
    border-bottom: 1px solid #878787;
    background: transparent;
    outline: none;
    transition: 0.4s;
      &:focus {
        border-color: #26ddf5;
      }
    }
  }
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
 
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
    display: block;
	position: relative;
  
}

/* hide back of pane during swap */
.front {
	backface-visibility: hidden;
  img {
  }

}/* hide back of pane during swap */
 .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
   bottom: 0;
   right: 0;
       display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
   text-align: center;
   img {
     width: 100%;
     max-width: 100px;
   }
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.graduates-list, .graduates-grid {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  &:after {
  content: '';
  display: block;
  clear: both;
}
  .list-bg {
    content: "";
    background: url('../images/photo/20.png') no-repeat center;
    width: 22%;
    height: 493px;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9995;
    background-size: 100%;
    
  }
}
.grid-item {
//  width: 206px;
  width:  12.5%;
  img {
    width: 100%;
  }
  /*&.widthsmall {
    width: 10.7%;
  }
  &.widthsmall2 {
    width: 11.3%;
  }
  &.widthsmall3 {
    width: 12.9%;
  }
 &.item-large {
    width: 12.5%;
    
  }*/

}

.graduates {
  padding: 0;
  text-align: center;
  margin: 0 auto;
      background: #e8e8e8;
}

.grid-sizer {
  width: 12.5%;
}

.width206 {
  width: 216px;
}



.contacts {
  background: url('../images/bg1484646.png') no-repeat center;
  padding: 180px 0;
}

.contacts-title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  span {
    padding: 3px;
    background-color: #26ddf5;
    display: inline-block;
    margin-top: 6px;
  }
}

main {
  overflow: hidden;
}

.contacts-item {
  h5 {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  p, a {
    color: #878787;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    display: block;
  }
}

.contacts-map {
  position: relative;
  padding: 20px;
  &:after {
    content: "";
    width: 14px;
    height: 14px;
    border-top: 6px solid #ffffff;
    border-left: 6px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-right: 6px solid #ffffff;
    border-top: 6px solid #ffffff;
    position: absolute;
    top: 0;
    right: 0;
  }
  div {
      &:after {
    content: "";
    width: 14px;
    height: 14px;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-right: 6px solid #ffffff;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  }
  iframe {
    width: 100%;
  }
}

.grid-colum {
  float: left;
  width: 13%;
  position: relative;
    overflow: hidden;
  position: absolute;
    &:nth-child(1) {
      height: 315px;
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      height: 408px; 
      top: 0;
      left: 13%;
    }
    &:nth-child(3) {
      height: 234px; 
      top: 0;
      left: 26%;
    }
    &:nth-child(4) {
      height: 234px;
      width: 10.7%;
      top: 0;
      left: 39%;
    }
    &:nth-child(5) {
      height: 234px;
      width: 11.3%;
      top: 0;
      left: 49.7%;
    }
    &:nth-child(6) {
      height: 234px;
      top: 0;
      left: 61%;
  }
    &:nth-child(7) {
      height: 363px;
      top: 0;
      left: 74%;
    }
    &:nth-child(8) {
      height: 224px;
      width: 12.9%;
      top: 0;
      left: 87%;
    }
    &:nth-child(9) {
      height: 287px;
      top: 315px;
      left: 0%;
    }
    &:nth-child(10) {
      height: 330px;
      top: 408px;
      left: 13%;
    }
    &:nth-child(11) {
      height: 368px;
      top: 234px;
      left: 26%;
    }
    &:nth-child(12) {
      height: 219px;
      width: 10.7%;
      top: 234px;
      left: 39%;
    }
    &:nth-child(13) {
      height: 219px;
      width: 11.3%;
      top: 234px;
      left: 49.7%;
    }
    &:nth-child(14) {
      height: 304px;
      top: 234px;
      left: 61%;
    }
    &:nth-child(15) {
      height: 260px;
      top: 363px;
      left: 74%;
    }
    &:nth-child(16) {
      height: 260px;
      top: 224px;
      left: 87%;
      width: 12.9%;
    }
    &:nth-child(17) {
      height: 294px;
      top: 606px;
      left: 0%;
    }
    &:nth-child(18) {
      height: 260px;
      top: 738px;
      left: 13%;
    }
    &:nth-child(19) {
      height: 298px;
      top: 602px;
      left: 26%;
    }
    &:nth-child(20) {
      height: 532px;
      top: 453px;
      left: 39%;
      width: 22%;
    }
    &:nth-child(21) {
      height: 298px;
      top: 538px;
      left: 61%;
    }
    &:nth-child(22) {
      height: 305px;
      top: 623px;
      left: 74%;
    }
    &:nth-child(23) {
      height: 298px;
      top: 538px;
      left: 87%;
      width: 12.9%;
    }
    &:nth-child(24) {
      height: 315px;
      top: 900px;
      left: 0%;
    }
    &:nth-child(25) {
      height: 438px;
      top: 998px;
      left: 13%;
    }
    &:nth-child(26) {
      height: 315px;
      top: 900px;
      left: 26%;
    }
    &:nth-child(27) {
      height: 230px;
      top: 985px;
      left: 39%;
      width: 11.3%;
    }
    &:nth-child(28) {
      height: 230px;
      top: 985px;
      left: 50.3%;
      width: 10.7%;

    }
    &:nth-child(29) {
      height: 332px;
      top: 836px;
      left: 61%;
    }
    &:nth-child(30) {
      height: 240px;
      top: 928px;
      left: 74%;
    }
    &:nth-child(31) {
      height: 285px;
      top: 836px;
      left: 87%;
      width: 12.9%;
    }
    &:nth-child(32) {
      height: 221px;
      top: 1215px;
      left: 0%;
    }
    &:nth-child(33) {
      height: 221px;
      top: 1215px;
      left: 26%;
    }
    &:nth-child(34) {
      height: 221px;
      top: 1215px;
      left: 39%;
      width: 11.3%;
    }
    &:nth-child(35) {
      height: 221px;
      top: 1215px;
      left: 50.3%;
      width: 10.7%;

    }
    &:nth-child(36) {
      height: 268px;
      top: 1168px;
      left: 61%;
    }
    &:nth-child(37) {
      height: 268px;
      top: 1168px;
      left: 74%;
    }

    &:nth-child(38) {
      height: 315px;
      top: 1121px;
      left: 87%;
      width: 12.9%;
    }
//  min-height: 221px;
  .flipper {
    
    .front {
     /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
      z-index: 1;
      background-size: 100%;*/
      img {
        width: 100%;
      }
    }
  }
}

.graduates-grid {
  min-height: 133vh;
  min-height: 1436px;
  max-width: 1920px;
  margin: 0 auto;
}
