@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}
 
.page-template-template_main {
  header {
    .wrap {
      &:after {
        content: "";
        background: url('../images/shape-39-copy.svg');
        width: 13px;
        height: 12px;
        position: absolute;
        top: 25px;
        left: -317px; 
      } 
      &:before {
        content: "";
        background: url('../images/shape-39-copy.svg');
        width: 13px;
        height: 12px;
        position: absolute;
       bottom: 30px;
        right: 217px;
      }
      .wrap-before {
        content: "";
       width: 857px;
        height: 0;
        border: 1px solid #f7f7f7;
        opacity: 0.5;
        position: absolute;
        top: 30px;
        left: -310px;
      }
      .wrap-after {
        content: "";
       width: 857px;
        height: 0;
        border: 1px solid #f7f7f7;
        opacity: 0.5;
        position: absolute;
        bottom: 35px;
        left: 916px;
      }
    }
    background: url('../images/bg1.png') no-repeat center;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
        display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    &:before {
      content: "";
      background: url('../images/group-62.png') no-repeat center;
      width: 1150px;
      height: 889px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    /*&:after {
      content: "";
      background: url('../images/aftr.png') no-repeat;
      width: 1860px;
      height: 331px;
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }*/
  }
}

.registration-btn {
  transition: 0.2s;
  background: url('../images/button-bg.png') no-repeat center;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  padding: 21px 28px 17px;
  text-align: center;
  border: 0;
  display: inline-block;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.header-title {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 14.4px;
}

.header-info {
  text-align: right;
  color: #3adebc;
  font-family: "Gotham Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 11px;
  margin-bottom: 146px;
  position: relative;
  z-index: 4;
}

.nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  .menu {
  list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 63px;
      position: relative;
      min-height: 2px;
      margin-bottom: 30px;
      &:before {
        content: "";
        width: 10px;
        height: 2px;
        background: #000;
        opacity: 0.5;
        transition: 0.2s;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &.active {
        &:before {
          width: 40px;
        }
        a {
          display: block;
          opacity: 1;
        }
      }
      a {
        opacity: 0;
        color: #000;
        font-family: "Gotham Pro";
        font-size: 10px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
}
}

.that {
  padding: 200px 0;
  .wrap {
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #000000;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    
  }
}

.that-title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 100px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.that-info {
  background-color: #000000;
  padding: 4px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}

.text-right {
  text-align: right;
}

.that-center {
  position: relative;
  text-align: right;
  &:before {
    content: "";
    background: url('../images/img465.png') no-repeat center;
    width: 526px;
    height: 489px;
    position: absolute;
    top: 38%;
    left: 2%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
  }
}

.that-item {
  position: relative;
  &:before {
    content: "What";
    width: 793px;
    height: 177px;
    opacity: 0.04;
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 250px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    top: 21px;
    right: -105px;
  }
  &:after {
    content: "";
    background: url('../images/shape-39-copy-5.svg') no-repeat center;
    width: 13px;
  height: 12px;
    position: absolute;
    top: -68px;
    right: 0;
  }
  h4 {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    /* Text style for "СОЛЬ —" */
    letter-spacing: 0.4px;
  }
  p {
    color: #989898;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    span {
      color: #ffffff;
      font-family: "Gotham Pro";
      font-size: 12px;
      font-weight: 400;
      line-height: 21px;
      background-color: #000000;
      padding: 3px;
      letter-spacing: 3.6px;
    }
  }
  a {
    color: #27e1f9;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition: 0.2s;
    padding-bottom: 5px;
    position: relative;
    &:before {
      content: "";
      height: 2px;
      width: 49px;
      background: #27e1f9;
      position: absolute;
      bottom: 0;
      left: 0;
    transition: 0.2s;
      
    }
    &:hover {
      &:before {
        width: 0;
      }  
    }
  }
}
.mb35 {
  margin-bottom: 35px;
}
.developments {
  background: #ededee;
  height: 100vh;
}

.scrollAnimation {
  position: relative;
  z-index: 555;
}

.logo-large {
  background: url('../images/logo-large.svg') no-repeat center;
  width: 457px;
  height: 421px;
  position: absolute;
    top: 26%;
    left: 51.5%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.logo-large-before {
  content: "";
  background: url('../images/shad.png') no-repeat center;
  width: 1090px;
  height: 814px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.-other-month- {
  opacity: 0;
}
