@import '../../mq';

@media #{$tabletPortrait} {
  //    @import '../mobile';
  & {
    .md-first {
      -ms-flex-order: -1;
      order: -1;
    }
    &.page-template-template_main header:before {
      background-size: 65%;
    }
    &.page-template-template_main header .wrap .wrap-before {
      top: 60px;
    }
    .md-none {
      display: none;
    }
    .that-item {
      br {
        display: none;
      }
    }
    .that-center:before {
      left: 57.5%;
    }
    .that-center,
    .that-title {
      text-align: left;
    }
    .that-info {
      br {
        display: none;
      }
    }
    .that-item {
      max-width: 510px;
    }
    .that-item:before {
      width: 100%;
      font-size: 225px;
      top: -227px;
      right: 0;
    }
    .products {
      text-align: center;
    }
    .item-content > p {
      max-width: 100%;
    }
    .item-list {
      margin: 0 auto;
    }
    .col-lg-6.right:before {
      left: 50%;
      transform: translateX(-50%);
    }
    .blog-item {
      br {
        display: none;
      }
    }
    #blog-carousel {
      margin-top: 30px;
    }
    .community {
      .blog-link {
        margin-bottom: 50px;
        display: inline-block;
      }
      br {
        display: none;
      }
      img {
        width: 100%;
      }
    }
    .community-subtitle {
      max-width: 100%;
      br {
        display: none;
        text-align: left;
        span {
          display: inline;
        }
      }
    }
    .header-info {
      max-width: 415px;
      text-align: center;
      margin: 0 auto 80px;
      line-height: 1.5;
    }
    .header-title {
      text-align: center;
      line-height: 1.5;
    }
    .nav .menu {
      display: none;
    }
    .datepicker--cell {
      margin: 1px;
    }
    .datepicker-here {
      max-width: 283px;
    }
    .datepicker--nav {
      margin-bottom: 0;
    }
    .products-item img {
      height: inherit;
      width: 100%;
    }
    .col-lg-6.right {
      padding-left: 15px;
    }
    .products-title {
      color: #fff;
      font-family: "Gotham Pro";
      font-size: 55px;
      font-weight: 700;
      line-height: 53px;
      text-transform: uppercase;
      margin-bottom: 80px;
      margin-top: 55px;
    }
    .section-carousel .owl-dots .owl-dot.active span {
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0;
    }
    .section-carousel .owl-dots .owl-dot {
      margin: 0 3px;
    }
    .ml {
      margin-left: 0;
    }
    .scoreboard {
      //      background-size: cover;
      padding-top: 100px;
      background-position: center top;
      .col-lg-5 {
        padding: 0 30px;
      }
    }
    .scoreboard-img {
      margin-top: 60px;
    }
    .store-item {
      max-width: 100%;
      text-align: center;
      br {
        display: none;
      }
    }
    .store-price {
      text-align: center;
      margin-bottom: 40px;
    }
    .store-title {
      text-align: center;
    }
    .store .wrap {
      background: none;
    }
    .store-item h6 {
      display: inline-block;
    }

    .contacts {
      background-size: cover;
    }
    .contacts-map {
      margin-top: 60px;
    }
    .products-link {
      margin: 10px;
    }
    .header-title.large {
      font-size: 90px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0;
    }
    .that_comunity-img {
      width: 670px;

    }
    .that_comunity-item {
      margin-top: 30px;
    }
    .that_comunity-item,
    .that_comunity-bottom {
      display: inline-block;
      max-width: 49%;
    }
    .that_comunity {
      padding-bottom: 100px;
      br {
        display: none;
      }
    }
    #benefits-carousel {
      max-width: 100%;
    }
    .benefits-img {
      img {
        width: 100%;
      }
      margin-bottom: 30px;
    }
    .selection-img {
      width: 661px;
    }
    .selection-title {
      font-size: 52px;
      line-height: 1;
    }
    .selection-item {
      padding-left: 0;
      br {
        display: none;
      }
    }


    .selection-img .before {
      font-size: 170px;
      line-height: 200px;
      text-align: left;
    }
    .selection .col-lg-5,
    .selection .col-lg-6,
    .selection .col-lg-7 {
      padding: 0 15px;
    }
    .selection-info p {
      margin-bottom: 0;
      br {
        display: none;
      }
    }
    .selection-info {
      position: relative;
      z-index: 4;
    }
    .selection {
      padding-bottom: 100px;
    }
    .participate {
      br {
        display: none;
      }
    }
    .form-box {
      padding: 71px 25px;
    }
    .participate-img {
      margin-bottom: 240px;
    }
    .members-item {
      padding-left: 10%;
    }
    .members {
      background: url(../images/img156cv4.png) no-repeat -30% center;
    }
    .project-title {
      font-size: 60px;
      line-height: 1;
    }
    .project-info {
      padding-left: 10%;
      letter-spacing: 4px;
      br {
        display: none;
      }
    }
    .test-title {
      font-size: 70px;
      line-height: 1;
      text-align: left;
    }
    .test-info {
      text-align: left;
      margin-left: 0;
    }
    .project {
      background-size: cover;
      position: relative;
      &:before {
        content: "";
        background: #000;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    .test-img {
      width: 670px;
    }
    .test-img .before-text {
      font-size: 175px;
    }
    .test-item {
      padding-left: 0;
    }
    .test-item button {
      letter-spacing: 0;
    }
    .graduates-xs-none {
      display: none;
    }
    &.page-template-template_about header .header-info {
      margin-top: 80px;
      margin-bottom: 10px;
      text-shadow: 0px 0px 30px rgba(7, 7, 7, 1);
    }
    .members-item p {
      br {
        display: none;
      }
    }
    &.page-template-template_graduates header:before {
      top: 63%;
    }
    &.page-template-template_contact header {
      background: url(../images/group-45d.png) no-repeat center;
      background-size: cover;
    }
    .test {
      position: relative;
      text-align: center;
      .test-img {
        margin: 0;
        position: absolute;
        top: -100px;
        left: 0;
        z-index: -1;
      }
    }
  }
}