@import '../../mq';

@media #{$tabletLandscape} {
    @import '../desktop';
  .store-title {
    font-size: 80px;
  }
  .benefits-img {
      display: block;
    }
  .that_comunity-item, .that_comunity-bottom {
      display: block;
      max-width: 100%;
    }
  .scoreboard {
    background-size: cover;
  }
  .ml {
    margin-left: 8%;
}
}
